body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-item {
    order: 1;
}

.right-item {
    order: 2;
    display: flex;
    align-items: center;
}

.right-item a {
    margin-right: 10px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.instagram-logo {
    width: 20px;
    margin-right: 10px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Change this line */
    gap: 20px;
    padding: 20px;
}

.product-container {
    /* Styles for each product container go here */
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
    clear: both; /* Clear any floats */
    position: fixed; /* Relative positioning */
    bottom: 0; /* Stick to the bottom */
}

footer p {
    margin: 0;
}

/* Additional style to make the text more visible */
footer a {
    color: white;
    transition: color 0.3s;
}

footer a:hover {
    text-decoration: underline;
    color: #cccccc;
}

