body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-item {
    order: 1;
}

.right-item {
    order: 2;
    display: flex;
    align-items: center;
}

.right-item a {
    margin-right: 10px; /* Adjust the value as needed */
}

a {
    color: white;
    text-decoration: none;
}

.instagram-logo {
    width: 20px;
    margin-right: 10px;
}

.landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh; /* Adjust the height as needed */
}

.welcome-message {
    text-align: center;
}

.welcome-message h1 {
    font-size: 3em; /* Adjust the font size as needed */
    margin-bottom: 10px;
    animation: fadeInDown 2s ease-in-out; /* Adjust the animation duration and easing as needed */
}

.welcome-message p, .welcome-message a {
    font-size: 1.5em; /* Adjust the font size as needed */
    margin: 5px 0;
    animation: fadeInUp 2s ease-in-out; /* Adjust the animation duration and easing as needed */
    color: #333;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}