body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-item {
    order: 1;
}

.right-item {
    order: 2;
    display: flex;
    align-items: center;
}

.right-item a {
    margin-right: 10px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.instagram-logo {
    width: 20px;
    margin-right: 10px;
}

.landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh; /* Adjusted to min-height */
}

.welcome-message {
    text-align: center;
}

.welcome-message h1 {
    font-size: 3em;
    margin-bottom: 10px;
    animation: fadeInDown 2s ease-in-out;
}

.welcome-message p {
    font-size: 1.5em;
    margin: 20px 0;
    animation: fadeInUp 2s ease-in-out;
    color: #333;
}

.welcome-message a {
    font-size: 1.5em;
    margin: 5px 0;
    animation: fadeInUp 2s ease-in-out;
    color: #333;
}

.welcome-message .vigourines {
    margin-right: 25px !important;
}

.welcome-message a:hover {
    text-decoration: underline;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center; /* Center the text in the footer */
    position: fixed; /* Fixed position to stick to the bottom */
    width: 100%; /* Make the footer span the entire width */
    bottom: 0; /* Stick to the bottom of the viewport */
}

footer p {
    margin: 0;
}

/* Additional style to make the text more visible */
footer a {
    color: white;
    transition: color 0.3s;
}

footer a:hover {
    text-decoration: underline;
    color: #cccccc;
}

/* shopping.html css */

.product-categories {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 120px;
}

.category {
    text-align: center;
    max-width: 300px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 10px;
}

.category img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.category a {
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
